<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if content_for?(:meta_tags) && content_for?(:description) %>
      <meta name="keywords" content="<%= yield(:meta_tags) %>">
      <meta name="description" content="<%= yield(:description) %>">
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PLZ0G0KP4B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PLZ0G0KP4B');
    </script>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <%= render 'layouts/header' %>
      <div class="relative mx-auto px-4 flex flex-grow">
        <div class="content">
          <%= render 'layouts/alerts' %>
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
